# 변수와 파이썬 기본 구조

## 변수

In [ ]:
vsum = 1
vsum

1

In [ ]:
v1='abcd'
v1

'abcd'

### 모듈

In [ ]:
# 패키지(package)
# import 모듈 호출(loading)
round(1.5)
#trunc(1.5) 불가
#1) 모듈 호출 : 하위 함수 (모듈명, 함수명)
import math
import math as ma  # as (alias: 별칭)

ma.trunc(1.5)

1

## 파이썬 기본 구조

### 1.리스트(list) [] cf. R : c()

기본 자료 구조 (여러 상수를 동시 전달)

1차원

서로 다른 데이터 타입 가능

In [ ]:
# 1) 리스트 생성
l1=[1,2,3,4]
print(l1)
print(type(l1))

[1, 2, 3, 4]
<class 'list'>

In [ ]:
# tuple : 상수 (변하지 않는 값 -> 변경이 불사능한 값)
t1=(1,2,3,4)
print(type(t1))

<class 'tuple'>

In [ ]:
# 2) 색인(indexing)
l1
l1[0]
l1[1]
l1[-1] # reverse indexing
l1[-2]

3

In [ ]:
l1[0:1] # n:m --> n부터 m-1 까지
l1[0:2]

[1, 2]

In [ ]:
#여러 숫자 전달 불가
l2[0,2]```에러뜸```

In [ ]:
#3) 수정
l1[0] = 10
l1

#4) 연산

l1+1 #리스트와 정수(int) 연산 불가
l1 > 1 #조건 전달 불가
# TypeError: can only concatenate list (not "int") to list
#TypeError: '>' not supported between instances of 'list' and 'int'

#리스트 확장
[1,2,3,] + [10,20,30]
#[1, 2, 3, 10, 20, 30]

#원소 추가
l1 + [5]

l1.append(6)
l1
#[10, 2, 3, 4]

#문자열더하고 곱하기
'a'+'b'
'a'*3

#튜플(상수) 수정 
t1
t1[0] = 10 #뷸가능

#5) 삭제
del(l1[0]) # 첫번쩨 원소 삭제
l1
del(l1) # 객체 삭제

#리스내 모든 원소 삭제
l2 = []
l2
#함수와 메서드
# 메서드: 함수의 일부
# 인수 전달 방식이 다름

sum([1,2,3]) #함수:인수 전달이 모두 관호 안에서 진행

import numpy as np
a1 = np.array([1,2,3])
a1.sum()
#메서드
#- 객체에서 호출 가능한 형대의 함수(값을 객체가 가지고 있다)

# 사용자 정의 함수

사용자 정의 함수의 형태

input과 output 관계를 내부에 정의

def, lambda(축약형)

## 1.def 방식

In [ ]:
'''
# def 함수이름(인수1,인수2, 인수3):
#     함수 본뭄
#     return 반환할 객체
'''

#숫자를 넣어서 곱하기 10한 값을 반환
def f_mul(x):
    v1=x*10
    return v1
f_mul(10)

#두 숫자 넣어서 두 숫자의 곱 반환

def f_2mul(x,y):
    return(x*y)

print(f_2mul(2,10))

#인수에 default 값(기본값 선언)
def f_d(x=1,y):
    return(x*y)
# SyntaxError: non-default argument follows default argument
#1번째 인수에 기본값을 정의 하면 뒤에 나오는 인수도 기본값 정의해야 함

def f_d(y,x=1):
    return(x*y)
def f_d(x=1,y=1):
    return(x*y)
print(f_d())

## 2.lambda 축약형(1회용)

비교적 단순한 연산 및 리턴시 사용

In [ ]:
'''
lambda 변수: 적용함수
'''

#숫자를 넣을것 여기에 10을 곱한 값을 리턴하세요
f1 = lambda x: x*10
f1(6)

#3개 숫자를 전달받아 첫번째와 두번째 합에 3번 수의 곱 리턴
f2 = lambda x,y,z: (x+y)*z
f2(2,5,3)

## 3.map 함수

In [ ]:
'''
map(func,    #적용할 함수
    iterable)#추가할 인수
'''

f1 = lambda x: x*10
f1(4)
map(f1, l1)
# <map at 0x2d6a348a550>
list(map(f1,l1))
#[10, 20, 50, 100]

##예제

하나의 숫자를 전달 받아 10보다크면 3을 곱하고 이하면 2를 곱한 결과

In [ ]:
l2=[3,5,7,10]

### 답

In [ ]:
def f(x):
  if x>10:
    y=x*3
  else:
    y=x*2
    return y

list(map(f, l2))

[6, 10, 14, 20]

# 메소드, 조건문, 반복문

## 함수 vs 메서드

**함수**: 함수(대상)

**메서드**: 대상.메소드

## 메서드

In [ ]:
# 대소치환
v1 = 'abcd' # 문자(string)
v1.upper()   #대문자 치환
'ABCD'.lower() #소문자 치환
'adc def'.title() #camel 표기법(단어의 첫 글자만 대문자로)

#색인(문자열 추출)
'abcd'[0]
'abcd'[-1]
'abcd'[0:3]

#ex) '031)305-0834 에서 지역번호만 추출
vtel = '031)305-0834'
vtel[0:3]

#문자열의 시각, 끝 여부 확인
# v1.startswith(prefix,  #시작 값 확인 문자
#               start,   #확인할 시작 위치
#               end)     #확인할 끝 위치
v1
v1.startswith('b')
v1.startswith('b',1)
v1[1:].startswith('b')

v1
v1.endswith('d')
v1.endswith('D')

#앞 뒤 공백 또는 문자 제거
'abc' == 'abc'
' abc '.strip()    #양쪽 공백 제거
'abc'.strip('a')   #문자 제거
'abaca'.strip('a') #양쪽 문자 제거(중간 글자 삭제 불가)
' abcd'.lstrip()   #왼쪽 공백 또는 글자 제거
' abcd '.rstrip()  #오른쪽 공백 또는 글자 제거

#치환
# 'abcabc'.replace(old, #찾을 문자열
#                  new) #바꿀 문자열
'abcabc'.replace('a','A')
'abcabc'.replace('ab','AB')
'abcabc'.replace('ab','')

#문자열 분리
# v1.split(sep) #분리 구분기호
'a/b/c/d'.split('/')
'a/b/c/d'.split('/')[1]
'a/b/c/d'.split('/')[0:2]

# 위치값 리턴
# 'abcd'.find(sub,  #위치값을 찾을 대상
#             start #찾을 위치(시작점)
#             end)  #찾을 위치()
v1
v1.find('b')

vtel
vnum = vtel.find(')')
vtel[0:vnum]

#포함 횟수
'abcabcabc'.count('a')

#형(타입) 확인
type(v1) #테이터 타입 확인
v1.isalpha() #문자확인
v1.isnumeric() #숫자 확인

#대소문자 확인
v1.isupper()
v1.islower()

#문자열 결합
'a' + 'b'

#문자열 길이
len(v1)
3/len(v1)

### 예제

In [ ]:
vname='hwang'
vemail='hwanginkyu42@naver.com'
jumin= '950524-1999999'

#1.이름의 두번째 글자가 m인지 여부
vname[1] == 'm'

#2. vmail에서 이메일 아이디만 추출
vemail[0:9]
idx = vemail.find('@')
vemail[:idx]

# 3. 주민번호에서  여자인지 확인(2:여자)
jumin[7] =='2'

jumin
jumin.split('-')[1][0] ==2 #-기준으로 2번째에서 1번째

False

## 조건문 반복문

In [ ]:
#논리연산자
# and
# or
# not

v1=1 
(v1>=3) and (v1<=7) #3과 7사이
(v1>=3) & (v1<=7) #3과 7사이

(v1<=3) or (v1<=7)

not(v1==1)

#조건문 if

#형식
# if 조건:
#     참일때 실행
# else:
#     거짓일 때 실행 문장
# if 조건1:
#    조건1이 참일때 실행
#elif 조건2
#조건1이 거진이면서 조건2가 참일때 실행 문장
# else:
#     조건 1,2가 모두 거짓일 때 실행 문장

v1=10
if v1>5:
    print('A')
else:
    print('B')

#리스트는 불가
l1 = [1,3,5,7,8]
if l1>5:
    print('A')
else:
      print('B') 

#반복문
#객체의 각 원소에 동일한 연산처리 진행할 경우 사용
#1. for문 : 정해진 횟수, 대상이 있을 경우

# for 반복변수 in 반복할 대상(범위):
#     반복 실행할 문장

#1~10 까지 출력하세요.
#range(1,11)
for i in range(1,11):
    print(i)
#예제
#다음의 리스트 선언하고 5보다 클경우  A  작거나 같으면B
l1 = [1,3,5,15,25]

for i in l1:
    if i > 5:
        print('A')
    else:
        print('B')
#위 리스트에서 각 원소에 10을 더해서 출력
l1+10 #불가
for i in l1:
    print(i+10)
#for 문의 결과를 바로 변수로 저장하는 건 불가
l1 = for i in l1:
    print(i+10)

#정답
l2 = []
for i in l1:
    l2.append(i+10)

print(l2)
# [11, 13, 15, 25, 35]

l3 = [1,2,3]
l3.append(4)
l3


#while 문: 조건에 따른 반복울 실행하는 경우

while 조건:
    조건이 참일 때 반복 문장
    
#예제
#while 문으로 1~10까지 출력

i = 1
while i <=10:
    print(i)
    i= i+1
    
#문제
#1~100까지 총 합

vsum = 0
for i in range(1,101):
    vsum=vsum+i
    
print(vsum)

i vsum 일반화
1  1    vsum+1
2  1+2  vsum+2

vvv= sum(i for i in range(1,101))
print(vvv)

#1~100까지 짝수 총합
# if i%2 ==0: 만약 i를 2로 나누어 나온 나머지가 0이면=>짝수
# if i%2 ==1: 만약 i를 2로 나누어 나온 나머지가 1이면=>홀수
vsum=0
for i in range(1,101):
    if i%2 ==0:
        vsum= vsum+i
print(vsum)
        
#반복제어문
#1.continue: 특정 조건일 경우 반복문 스킵
#2.break: 특정 조건일 경우 반복문 종료(정지조건) 
#3.exit: 특정 조건일 경우 프로그램 종료
#4.pass: 문법적으로 오류가 발생시키지 않기 위해 자리를 채우는 역활
 
#예제
#1~10출력, 5제외

for i in range(1,11):
    if i == 5:
        continue
    print(i)
 # 1
 # 2
 # 3
 # 4
 # 6
 # 7
 # 8
 # 9
 # 10   
for i in range(1,11):
    if i ==5:
        break
    print(i)
# for i in range(1,11):
#     if i ==5:
#         exit(0)
#     print(i)   

v1 = 1
if v1>10:
    pass
else:
    print('b')
v1 = 1
if v1>10:
    #pass
else:
    print('b')
#IndentationError: expected an indented block

#문제
#1~100까지 누적합이 최소 2000이상이 되는 시점의 k 값과 총 합을 출력하시오

vsum = 0
for i in range(1,101):
    vsum = vsum + i
    if vsum >= 2000:
        break
print(i, vsum)